# Игнорировать конкретный файл
.env

# Игнорировать все файлы с расширением .log
*.log

# Игнорировать папку (включая вложенные файлы)
#/node_modules/
#/venv/

# Исключение: не игнорировать этот конкретный файл внутри игнорируемой папки
#!/venv/important_script.py
